.event-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(244, 248, 246);
    justify-content: center;
    /* margin-top: 30px; */
    padding: 13vh 0vh;
    /* color: #4caf50; */
    margin-bottom: -7vh;

}

.tag{
    font-size: 3rem;
    color: #4caf50;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
    
}
.detail{
    margin:0vh 8vh;
    font-size: 1.3em;
    font-family:'Times New Roman', Times, serif;
}

.event-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    width: 300px; 
    margin: 20px;

    min-width: 240px;
    max-width: 350px;
    flex-grow: 1;
    /* margin-top: 15vh; */
    
    
}
.event-card:hover{
       scale:1.06;
}

.event-date {
    background-color: #4caf50;
    padding: 3px;
    text-align: center;

    display: inline-block;
    position: absolute;
    margin-top: -61.5px;
    width:60px;
    
}

.day {
    font-size: 21px;
    font-weight: bold;
    /* color: #333; */
    /* color: #fff; */
}

.month {
    font-size: 10px;
    color: white;
}

.event-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    
}

.event-title {
    font-size: 20px;
    margin: 0;
    color: #333;
    /* height:8vh */
}

.event-time, .event-location, .event-description {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}
/* .event-location{
    height:5vh
}
.event-description{
    height:9vh;
} */

.join-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-button:hover {
    background-color: #45a049;
}
img{
    height:184px;
    width: -webkit-fill-available;

}
.registered{
background-color: red;
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}
.registered:hover{
    background-color: rgb(231, 1, 1);
}
/* img:hover{
    scale: 1.2;
} */
 .time-join{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 3px;

 }