@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
  --primary: rgb(0, 228, 0);
  --secondary: rgb(0, 228, 0);
  --light: #f5f5f5;
  --dark: #14141f;
}
body {
  font-family: "Open Sans", sans-serif !important;
  line-height: 1;
  /* overflow-x: hidden; */

}
h1{
  font-weight: 700 !important;
}
#carouselExampleAutoplaying img {
  height: 100vh;
  width: 100%;
}
.fw-medium {
  font-weight: 300 !important;
}

.fw-semi-bold {
  font-weight: 300 !important;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Button ***/
.btn {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  transition: 0.5s;
  border-radius: 50rem !important;
}
.btn-primary {
  color: #000 !important;
  background-color: rgb(0, 228, 0) !important;
  border-color: rgb(0, 228, 0) !important;
}
.btn-outline-primary {
  color: rgb(0, 228, 0) !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  font-family: "Open Sans", sans-serif;
  border-color: rgb(0, 228, 0) !important;
}
.btn.active {
  color: rgb(0, 228, 0) !important;
  font-weight: 400 !important;
  font-family: "Open Sans", sans-serif !important;
  border-color: rgb(0, 228, 0) !important;
}
.btn.btn-outline-primary:hover {
  color: rgb(238, 235, 241) !important;
  background-color: rgb(0, 228, 0) !important;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  border-color: rgb(0, 228, 0) !important;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: rgb(0, 228, 0, 0.5) !important;
  border-color: rgb(0, 228, 0) !important;
}
.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff !important;
}
.btn-square {
  width: 38px;
  height: 38px;
}
.btn-sm-square {
  width: 32px;
  height: 32px;
}
.btn-lg-square {
  width: 48px;
  height: 48px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}
.border-primary {
  border-color: rgb(0, 228, 0) !important;
}
.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: absolute;
  bottom: 30px;
  right: 93%;
  z-index: 99999 ;
}
.fab-container:hover {
  height: 100%;
  background-color: (118 1 245 / 40%);
}
.fab-container:hover .sub-button:nth-child(2) {
  transform: translateY(-57px);
}
.fab-container:hover .sub-button:nth-child(3) {
  transform: translateY(-107px);
}
.fab-container:hover .sub-button:nth-child(4) {
  transform: translateY(-157px);
}
.fab-container:hover .sub-button:nth-child(5) {
  transform: translateY(-220px);
}
.fab-container:hover .sub-button:nth-child(6) {
  transform: translateY(-270px);
}
.fab-container .fab {
  position: relative;
  height: 60px;
  width: 60px;
  background-color: rgb(0, 228, 0);
  border-radius: 50%;
  z-index: 999;
}
.fab-container .fab:hover {
  background-color: rgb(0, 228, 0, 0.5) !important;
}
.fab-container .fab:hover:before {
  opacity: 0;
}
.fab-container .fab::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 33px;
  width: 33px;
  background-color: inherit !important;
  border-radius: 0 0 10px 0;
  z-index: -1;
}
.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.fab-container .fab .fab-content .material-icons {
  color: white;
  font-size: 40px;
}
.fab-container .fab .fab-content .material-icons:hover {
  color: rgb(250, 247, 247);
  font-size: 40px;
}
.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  right: 8px;
  height: 45px;
  width: 45px;
  background-color: rgb(0, 228, 0) !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.fab-container .sub-button:hover {
  cursor: pointer;
  background-color: rgb(0, 228, 0, 0.5);
}
.fab-container .sub-button .material-icons {
  color: white;
  padding-top: 4px;
}

/*** Navbar ***/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000; 
  display: flex;
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
  padding: 1.5rem 0.25rem;
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin-right: 42px;
  color: #ffffff !important;
  font-size: 16px;
  outline: none;
  transition: 0.5s;
}
.dropdown-menu {
  background-color: transparent !important;
  border-color: dimgray;
}
.dropdown-item {
  color: #fff;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: rgb(0, 228, 0);
  background-color: #e9ecef;
  border-color: dimgray;
}
.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 14px 0;
  color: var(--dark) !important;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}
.navbar-light .navbar-brand img {
  max-height: 34px;
  transition: 0.5s;
  filter: invert(1);
}
.sticky-top.navbar-light .navbar-brand img {
  max-height: 20px;
  filter: invert(0);
}

@media (max-width: 991.98px) {
  .py-0 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .sticky-top.navbar-light {
    position: relative;
    background: #ffffff;
    height: 28px;
  }
  .navbar-light .navbar-collapse {
    margin-top: 6px;
    /* border: 1px solid #dddddd; */
    margin-bottom: 2px;
    padding-bottom: 2px;
  }
  /* .navbar-light .navbar-nav .nav-link {
    color: black !important;
  } */
  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 5px 0;
    margin-top: 0;
    margin-right: 0;
    /* color: black; */
  }
  .navbar-toggler {
    position: relative;
  }
  .navbar-collapse {
    z-index: 1;
    right: 1%;
  }
  .navbar-light .navbar-brand img {
    max-height: 20px;
    transition: 0.5s;
    /* filter: invert(0); */
  }
  .nav-item {
    text-align: center;
    /* color: black; */
  }
  .nav-item .dropdown-item {
    /* color: black; */
    margin: 0px;
    padding-left: 3;
  }
  .nav-item .dropdown-divider {
    display: none;
  }
  .nav-item .dropdown-item:hover {
    color: rgb(0, 228, 0) !important;
  }
  .resbtn {
    display: block;
    margin: auto;
    width: fit-content;
  }
  .dropdown-menu {
    text-align: center;
  }
  .dropdown-menu.show {
    display: block;
    border: none;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    border: none;
  }
  .dropdown-menu .dropdown-item {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }
  .sticky-top.navbar-light {
    position: fixed;
    background: #ffffff;
  }
  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
  }
  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: calc(100% - 2px);
    left: 1px;
  }
  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }
}

/*** Hero Header ***/
/* .hero{
  background: linear-gradient(rgba(20, 20, 31, 0.7), rgba(20, 20, 31, 0.7)), url(); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
} */
.hero {
  position: relative;
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700 !important;
}
.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}
.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}
.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}
.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/* Carasouel */
/* .hero {
  position: relative;
  height: 100vh; 
  overflow: hidden;
} */

.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.carousel-content h1 {
  position: absolute;
  z-index: 1;
  font-family: "Merienda", cursive;
  font-weight: 500;
  font-size: 3vw;
  transition: 0.5s;
  color: #fff;
  bottom: 47%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  width: 100vw;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}
.carousel-content h3 {
  position: absolute;
  z-index: 1;
  font-family: "Merienda", cursive;
  font-weight: 300;
  font-size: 2vw;
  transition: 0.5s;
  bottom: 41.5%;
  width: 100vw;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1; /* Ensure controls are visible */
  transition: opacity 0.15s ease;
}

.carousel-item:after {
  background: rgba(0, 0, 0, 0.6); /* Ensure overlay is applied */
}

/* .carousel-control-prev,
.carousel-control-next {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0px;
  opacity: 0;
  transition: opacity 0.15s ease;
} */

@media (max-width: 991.98px) {
  .carousel-content h1 {
    font-size: 5.5vw;
    bottom: 50%;
    width: 90vw;
  }
  .carousel-content h3 {
    font-size: 3.7vw;
    bottom: 44.5%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 0%;
  }
  #carouselExampleAutoplaying img {
    height: 93.8vh;
    width: 100%;
  }
}

@keyframes slide-in-anim {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes slide-in-anim2 {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-52%);
  }
  100% {
    opacity: 0.6;
    transform: translateX(-50%);
  }
}
.main-btn {
  position: absolute;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  transition: 0.5s;
  bottom: 25%;
  color: #fff;
  background-color: var(--primary);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}

/* About */
.text-color {
  color: var(--primary) !important;
  font-size: 40px;
  text-align: justify;
}
.text-colorpac {
  color: rgb(0, 228, 0);
  font-size: 22px;
}
.text-color4 {
  color: rgb(0, 111, 0) !important;
  font-size: 20px;
  text-align: justify;
}
.bg-white3 {
  border-radius: 20px;
  background-color: white;
  animation: slide-in-anim 1.5s ease-out forwards;
}
.fa-arrow-right {
  color: rgb(0, 111, 0) !important;
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}
.service-item:hover {
  background: var(--primary);
}
.service-item * {
  transition: 0.5s;
}
.service-item:hover * {
  color: var(--light) !important;
}
.service-item p {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.service-item h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#emaild p {
  font-size: 12px;
}
.service-item .btn-primary:hover {
  color: #fff;
  background-color: rgb(0, 120, 0);
  border-color: rgb(0, 111, 0);
}
.position-relative input {
  height: 15px;
  bottom: 20px;
  font-size: 13px;
}
.service-item .btn-primary:focus {
  color: #fff;
  background-color: rgb(0, 111, 0);
  border-color: rgb(0, 111, 0);
  outline: rgb(0, 111, 0) auto 5px;
}

/*** Plant ***/
.plant img {
  transition: 0.5s;
}
.plant a:hover img {
  transform: scale(1.1);
}

/*** features ***/
.features-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}
.features-item:hover img {
  transform: scale(1.1);
}
.feature-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20%;
  transition: 0.5s;
  /* width: 70%; */
}
.features-item .btn:hover {
  background: var(--primary);
  color: #FFFFFF;
}
.features-item .btn {
  background: #FFFFFF;
  color: var(--primary);
  border-radius: 20px;
  border-bottom: 1px solid var(--primary);
}
@media (max-width: 770px) {
  .feature-img {
    height: 0px;
  }
}

/*** Booking ***/
.booking {
  background: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.7)),url('../assets/plantimages/formbg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
label{
  color: #FFFFFF;
}
.form-floating input{
  color: white;
}

/*** Process ***/
.bg-primary {
  background-color: var(--primary) !important;
}

.process .bg-primary{
  background-color: var(--primary) !important;
}
.process .border-primary{
  border-color: var(--primary) !important;
}
.process .card-title{
  color: black !important;
}
/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}
.footer .btn.btn-social:hover {
  color: var(--primary);
}
.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}
.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-weight: 900;
  margin-right: 10px;
}
.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}
.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}
.footer .copyright a {
  color: var(--light);
}
.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}